/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp C>;

            label = "COPY";
        };

        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp J &kp J &kp M &kp B &kp L &kp A &kp N &kp C &kp H &kp A &kp R &kp D &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL";
        };

        hyper: hyper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI &kp LSHIFT &kp LALT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LGUI &kp LSHIFT &kp LALT>;

            label = "HYPER";
        };

        scroll_left: scroll_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LGUI &kp LALT &kp LEFT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LCTRL &kp LGUI &kp LALT &kp LEFT>;

            label = "SCROLL_LEFT";
        };

        scroll_down: scroll_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LGUI &kp LALT &kp DOWN>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LCTRL &kp LGUI &kp LALT &kp DOWN>;

            label = "SCROLL_DOWN";
        };

        scroll_up: scroll_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LGUI &kp LALT &kp UP>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LCTRL &kp LGUI &kp LALT &kp UP>;

            label = "SCROLL_UP";
        };

        scroll_right: scroll_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LGUI &kp LALT &kp RIGHT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LCTRL &kp LGUI &kp LALT &kp RIGHT>;

            label = "SCROLL_RIGHT";
        };
    };

    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_LEFT";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            // Right side keys (Corne 3x6+3: keys 21-41)

            hold-trigger-key-positions = <21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_RIGHT";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            // Left side keys (Corne 3x6+3: keys 0-20)

            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20>;
            hold-trigger-on-release;
        };

        tab_hyper: tab_hyper {
            compatible = "zmk,behavior-hold-tap";
            label = "TAB_HYPER";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            bindings = <&hyper>, <&kp>;
        };

        swap_colon_semi: swap_colon_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "SWAP_COLON_SEMI";
            #binding-cells = <0>;
            bindings = <&kp COLON>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        swap_sqt_lpar: swap_sqt_lpar {
            compatible = "zmk,behavior-mod-morph";
            label = "SWAP_SQT_LPAR";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp LPAR>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        swap_dqt_rpar: swap_dqt_rpar {
            compatible = "zmk,behavior-mod-morph";
            label = "SWAP_DQT_RPAR";
            #binding-cells = <0>;
            bindings = <&kp DQT>, <&kp RPAR>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        swap_comma_semi: swap_comma_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "SWAP_COMMA_SEMI";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        swap_dot_colon: swap_dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "SWAP_DOT_COLON";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        swap_qmark_slash: swap_qmark_slash {
            compatible = "zmk,behavior-mod-morph";
            label = "SWAP_QMARK_SLASH";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp SLASH>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q         &kp W         &kp E             &kp R         &kp T               &kp Y             &kp U            &kp I             &kp O            &kp P              &trans
&trans  &hml LSHFT A  &hml LCTRL S  &hml LALT D       &hml LGUI F   &kp G               &kp H             &hmr RGUI J      &hmr RALT K       &hmr RCTRL L     &hmr RSHFT SQT     &trans
&trans  &kp Z         &hml LG(X) X  &hml LG(C) C      &hml LG(V) V  &hml LG(LS(V)) B    &kp N             &kp M            &swap_comma_semi  &swap_dot_colon  &swap_qmark_slash  &trans
                                    &tab_hyper 0 TAB  &lt 1 GRAVE   &mt LGUI ENTER      &mt RSHIFT SPACE  &lt 2 BACKSPACE  &hmr ESC BSPC
            >;
        };

        number_layer {
            display-name = "Number Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| LFT | DWN |  UP | RGT |  =  |   |  -  |  4  |  5  |  6  |  +  |  *   |
            // | SHFT | SCL | SCD | SCU | SCR |     |   |  =  |  1  |  2  |  3  |  .  |  /   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1        &hml LG(LA(N2)) N2  &kp N3      &hml LG(LS(N4)) N4  &kp N5       &kp N6     &kp N7        &kp N8        &kp N9         &mt N0 ASTRK     &trans
&trans  &kp LEFT      &kp DOWN            &kp UP      &kp RIGHT           &kp EQUAL    &kp MINUS  &hmr LGUI N4  &hmr LALT N5  &hmr LCTRL N6  &hmr LSHFT PLUS  &trans
&trans  &scroll_left  &scroll_down        &scroll_up  &scroll_right       &trans       &kp SLASH  &kp N1        &kp N2        &kp N3         &kp PERIOD       &trans
                                          &trans      &trans              &trans       &trans     &lt 3 DEL     &kp N0
            >;
        };

        symbol_layer {
            display-name = "Symbol Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &trans
&trans  &trans    &trans  &trans    &trans    &kp COLON    &kp MINUS  &kp EQUAL  &kp BSLH   &kp LBKT  &kp RBKT  &trans
&trans  &tog 0    &trans  &trans    &trans    &kp SEMI     &kp UNDER  &kp PLUS   &kp PIPE   &kp LBRC  &kp RBRC  &trans
                          &trans    &trans    &trans       &trans     &trans     &trans
            >;
        };

        utility_layer {
            bindings = <
&trans  &bt BT_CLR_ALL        &trans             &trans           &trans                &trans    &trans          &trans        &trans        &trans        &trans        &trans
&trans  &kp C_BRIGHTNESS_DEC  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_INC  &trans    &studio_unlock  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans
&trans  &email                &trans             &trans           &trans                &trans    &trans          &trans        &trans        &trans        &trans        &trans
                                                 &trans           &trans                &trans    &trans          &trans        &trans
            >;
        };
    };
};
